################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/WinUI3DemoApp/obj
/WinUI3DemoApp/bin